name: Reusable workflow
on: 
  workflow_call:
    inputs: 
      artifact-name: 
        description: The of the deployable artifact files
        required: true
        # default: dist
        type: string
    secrets: 
      some-secret: 
        required: true
    outputs:
      results: 
        description: "Result of the operation"
        value: ${{ jobs.deploy.outputs.outcome }}



jobs:
  deploy:
    outputs: 
      outcome: ${{ steps.set-result.outputs.step-result}}
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/download-artifact@v3
        with: 
          name: ${{ inputs.artifact-name }}
      - name: List files
        run: ls
      - name: Output info
        run: echo "Deploying & uploading..."
      - name: Set result output
        id: set-result
        run: echo "step-result=success" >> $GITHUB_OUTPUT

